<div>
  <h1 class="text-2xl font-bold text-gray-800 dark:text-white">Ausencias</h1>

  <div class="grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-2 gap-6 justify-center mt-1">
    <div
      class="xl:col-span-2 mt-2 w-full rounded-2xl px-6 py-5 bg-white/40 dark:bg-white/10 backdrop-blur-xl border border-white/30 dark:border-white/10 shadow-xl shadow-black/5"
    >
      <div class="flex items-center justify-between mb-2">
        <h2 class="text-xl font-semibold text-gray-800 dark:text-white">Ausencias Obtenidas</h2>

        <button
          class="flex items-center gap-2 px-3 py-2 rounded-xl bg-indigo-600 text-white text-sm font-medium hover:bg-indigo-700 transition-all duration-300 shadow-lg shadow-indigo-500/20 hover:-translate-y-0.5 hover:shadow-xl"
          (click)="openModal()"
        >
          <img src="./assets/icons/plus.svg" /> Solicitar ausencia
        </button>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="flex justify-between items-center p-3 rounded-xl bg-white/40 dark:bg-white/5">
          <span class="text-gray-600 dark:text-gray-300">Vacaciones Generadas</span>
          <span class="font-semibold text-lg text-slate-800 dark:text-white">0</span>
        </div>

        <div class="flex justify-between items-center p-3 rounded-xl bg-white/40 dark:bg-white/5">
          <span class="text-gray-600 dark:text-gray-300">Vacaciones Utilizadas</span>
          <span class="font-semibold text-lg text-slate-800 dark:text-white">0</span>
        </div>

        <div class="flex justify-between items-center p-3 rounded-xl bg-white/40 dark:bg-white/5">
          <span class="text-gray-600 dark:text-gray-300">Vacaciones Disponibles</span>
          <span class="font-semibold text-lg text-emerald-600 dark:text-emerald-400">0</span>
        </div>

        <div class="flex justify-between items-center p-3 rounded-xl bg-white/40 dark:bg-white/5">
          <span class="text-gray-600 dark:text-gray-300">Vacaciones Planificadas</span>
          <span class="font-semibold text-lg text-indigo-600 dark:text-indigo-400">0</span>
        </div>
      </div>
    </div>

    <div
      class="xl:col-span-2 mt-2 w-full rounded-2xl px-6 py-5 bg-white/40 dark:bg-white/10 backdrop-blur-xl border border-white/30 dark:border-white/10 shadow-xl shadow-black/5"
    >
      <div>
        <div class="flex items-center justify-center gap-6 mb-8">
          <button
            class="w-10 h-10 rounded-full bg-white/40 dark:bg-white/10 backdrop-blur hover:scale-110 transition"
            (click)="changeYear(-1)"
          >
            ←
          </button>

          <span class="text-2xl font-bold text-slate-800 dark:text-white">
            {{ year }}
          </span>

          <button
            class="w-10 h-10 rounded-full bg-white/40 dark:bg-white/10 backdrop-blur hover:scale-110 transition"
            (click)="changeYear(1)"
          >
            →
          </button>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
          @for (month of months; track $index; let m = $index) {
            <div
              class="rounded-xl p-5 bg-white/60 dark:bg-white/5 border border-white/40 dark:border-white/10 shadow-md hover:shadow-lg transition-all duration-300"
            >
              <h2
                class="text-lg font-semibold text-slate-800 dark:text-white mb-4 text-center tracking-wide"
              >
                {{ monthNames[m] }}
              </h2>

              <div
                class="grid grid-cols-7 text-xs font-semibold text-slate-500 dark:text-slate-400 mb-1"
              >
                @for (d of weekDays; track d) {
                  <div class="text-center">{{ d }}</div>
                }
              </div>

              <div class="grid grid-cols-7 gap-1 text-sm">
                @for (day of month; track $index) {
                  <div
                    class="flex items-center justify-center h-8 rounded-md hover:bg-blue-600/10 transition cursor-pointer"
                    (click)="openEvent(day, m)"
                    [title]="getHolidayName(day, m)"
                    [ngClass]="{
                      'bg-red-500 text-white font-semibold': getEvent(day, m)?.type === 'holiday',
                      'bg-blue-500 text-white font-semibold': getEvent(day, m)?.type === 'vacation',
                      'bg-yellow-400 text-black font-semibold':
                        getEvent(day, m)?.type === 'absence',
                      'bg-purple-500 text-white font-semibold': getEvent(day, m)?.type === 'sick',
                      'ring-4 ring-indigo-500 font-bold': isToday(day, m),
                    }"
                  >
                    @if (day) {
                      {{ day }}
                    }
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div
      class="xl:col-span-2 rounded-2xl px-6 py-5 mt-2 w-full bg-white/40 dark:bg-white/10 backdrop-blur-xl border border-white/30 dark:border-white/10 shadow-xl shadow-black/5"
    >
      <h2
        class="text-lg text-center font-semibold text-slate-800 dark:text-white tracking-tight p-2"
      >
        Información
      </h2>

      <div class="flex justify-center">
        <p class="text-sm text-slate-600 dark:text-slate-300 text-center">
          ¿Hay un error en esta sección? Contacta con RRHH
        </p>
      </div>

      <div class="flex justify-center">
        <button
          class="mt-4 px-4 py-2 rounded-lg bg-indigo-600 text-white hover:bg-indigo-700 transition-all duration-300 shadow-xl shadow-black/5 hover:shadow-2xl hover:-translate-y-1"
          (click)="openExportModal()"
        >
          Contactar con RRHH
        </button>
      </div>
    </div>
  </div>
</div>

<dialog
  id="event_modal"
  class="modal backdrop-blur-xl bg-white/30 dark:bg-slate-900/30 border border-white/30 dark:border-white/10 rounded-2xl shadow-xl shadow-black/5"
>
  <div
    class="modal-box rounded-2xl bg-white/70 dark:bg-slate-900/70 backdrop-blur-2xl border border-white/30 dark:border-white/10 shadow-xl"
  >
    <h3 class="font-bold text-xl text-slate-800 dark:text-white">
      {{ selectedEvent?.name }}
    </h3>

    <p class="mt-2 text-slate-600 dark:text-slate-300">Fecha: {{ selectedEvent?.date }}</p>

    <p class="mt-1 text-sm text-slate-500">Tipo: {{ selectedEvent?.type }}</p>

    <div class="modal-action">
      <form method="dialog">
        <button
          class="flex px-4 py-2 rounded-xl bg-indigo-600 text-white text-sm font-medium hover:bg-indigo-700 transition-all duration-300 shadow-lg shadow-indigo-500/20"
        >
          Cerrar
        </button>
      </form>
    </div>
  </div>
</dialog>

@if (exportModalOpen) {
  <div class="fixed inset-0 flex items-center justify-center z-50">
    <div class="absolute inset-0 bg-black/40 backdrop-blur-sm" (click)="closeExportModal()"></div>

    <div
      class="relative w-[420px] p-6 rounded-3xl backdrop-blur-2xl bg-white/30 border border-white/40 shadow-2xl shadow-black/30"
    >
      <h2 class="text-xl font-bold text-slate-800 dark:text-white mb-4">Contactar con RRHH</h2>

      <div class="max-w-xl mx-auto bg-white border border-gray-200 rounded-xl shadow-sm p-4">
        <input
          type="text"
          placeholder="Asunto de la consulta"
          class="w-full text-lg font-semibold placeholder-gray-400 outline-none mb-2"
        />
        <hr class="w-full border-slate -100 my-2" />

        <textarea
          placeholder="Descripción"
          rows="4"
          class="w-full resize-none outline-none text-gray-600 placeholder-gray-400"
        ></textarea>

        <hr class="w-full border-gray-100 my-2" />
        <div class="flex items-center justify-between mt-4">
          <div class="flex items-center gap-3">
            <label
              class="flex items-center gap-2 text-sm text-gray-500 hover:text-gray-700 cursor-pointer"
            >
              📎
              <span>Adjuntar archivo</span>
              <input type="file" class="hidden" />
            </label>
          </div>
          <div class="flex gap-3">
            <button
              class="px-4 py-2 rounded-xl bg-indigo-600 text-white hover:bg-indigo-700 transition"
            >
              Enviar
            </button>
            <button
              (click)="closeExportModal()"
              class="px-4 py-2 rounded-xl bg-slate-600/20 hover:bg-slate-600/40 transition"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if (modalOpen) {
  <dialog
    open
    class="modal backdrop-blur-xl bg-white/30 dark:bg-slate-900/30 border border-white/30 dark:border-white/10 rounded-2xl shadow-xl shadow-black/5"
  >
    <div
      class="modal-box rounded-2xl bg-white/70 dark:bg-slate-900/70 backdrop-blur-2xl border border-white/30 dark:border-white/10 shadow-xl"
    >
      <h3 class="font-bold text-xl text-slate-800 dark:text-white">Solicitar ausencia</h3>

      <fieldset class="fieldset mt-5">
        <legend class="fieldset-legend mb-1">
          Tipo de ausencia <span class="text-red-500">*</span>
        </legend>
        <select
          class="select border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm"
        >
          @for (type of selectAbsenceType; track type) {
            <option [value]="type" [selected]="selectAbsenceType">
              {{ type }}
            </option>
          }
        </select>
      </fieldset>

      <fieldset class="fieldset mt-5">
        <legend class="fieldset-legend mb-1">Comentario</legend>
        <textarea
          class="textarea resize-none w-full rounded-md border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block"
          rows="4"
          placeholder="Descripción"
        ></textarea>
      </fieldset>

      <fieldset class="fieldset mt-5">
        <legend class="fieldset-legend mb-1">Duración <span class="text-red-500">*</span></legend>

        <div class="flex gap-2">
          <button
            type="button"
            (click)="setDuration('hours')"
            class="px-4 py-2 rounded-lg transition border border-gray-300"
            [class.bg-indigo-600]="durationType === 'hours'"
            [class.text-white]="durationType === 'hours'"
            [class.bg-white]="durationType !== 'hours'"
          >
            Horas
          </button>

          <button
            type="button"
            (click)="setDuration('day')"
            class="px-4 py-2 rounded-lg transition border border-gray-300"
            [class.bg-indigo-600]="durationType === 'day'"
            [class.text-white]="durationType === 'day'"
            [class.bg-white]="durationType !== 'day'"
          >
            Un día
          </button>

          <button
            type="button"
            (click)="setDuration('days')"
            class="px-4 py-2 rounded-lg transition border border-gray-300"
            [class.bg-indigo-600]="durationType === 'days'"
            [class.text-white]="durationType === 'days'"
            [class.bg-white]="durationType !== 'days'"
          >
            Varios días
          </button>
        </div>

        @if (durationType === 'hours') {
          <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
              <label class="label">Fecha</label>
              <input type="date" class="input input-bordered w-full" />
            </div>

            <div>
              <label class="label">Horas</label>
              <input type="number" class="input input-bordered w-full" placeholder="Ej: 2" />
            </div>
          </div>
        }

        @if (durationType === 'day') {
          <div class="mt-4">
            <label class="label">Fecha</label>
            <input type="date" class="input input-bordered w-full" />
          </div>
        }

        @if (durationType === 'days') {
          <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
              <label class="label">Desde</label>
              <input type="date" class="input input-bordered w-full" />
            </div>

            <div>
              <label class="label">Hasta</label>
              <input type="date" class="input input-bordered w-full" />
            </div>
          </div>
        }
      </fieldset>

      <fieldset class="fieldset mt-5">
        <legend class="fieldset-legend mb-1">Adjuntar archivo</legend>
        <input type="file" class="file-input file-input-sm" />
        <label class="label">Max size 2MB</label>
      </fieldset>

      <div class="modal-action">
        <button
          class="flex px-4 py-2 rounded-md bg-indigo-600 text-white text-sm font-medium hover:bg-indigo-700 transition-all duration-300 shadow-lg shadow-indigo-500/20 mr-5"
        >
          Solicitar
        </button>
        <button
          class="flex px-4 py-2 rounded-md bg-slate-400 text-white text-sm font-medium hover:bg-indigo-700 transition-all duration-300 shadow-lg shadow-indigo-500/20"
          (click)="modalOpen = false"
        >
          Cancelar
        </button>
      </div>
    </div>
  </dialog>
}
