<div>
  <h1 class="text-2xl font-bold text-gray-800 dark:text-white">Bienvenid@ {{ name_user }}</h1>

  <div>
    <p class="text-xs text-slate-500 dark:text-slate-400 mt-4">
      Este es tu panel de control personal, donde puedes gestionar tus fichajes, nóminas, documentos
      y más. Explora las diferentes secciones para aprovechar al máximo tu experiencia en el portal.
    </p>
  </div>

<div class="grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-6 mt-3">
  <div class="rounded-2xl px-6 py-5 w-full
         bg-white/40 dark:bg-white/10
         backdrop-blur-xl
         border border-white/30 dark:border-white/10
         shadow-xl shadow-black/5
         ">
             <h2 class="text-lg font-semibold text-slate-800 dark:text-white tracking-tight p-2">Panel de Fichaje</h2> 

        <app-fichaje></app-fichaje>    
    </div>

      <div class="rounded-2xl px-6 py-5 w-full
         bg-white/40 dark:bg-white/10
         backdrop-blur-xl
         border border-white/30 dark:border-white/10
         shadow-xl shadow-black/5
         ">
             <h2 class="text-lg font-semibold text-slate-800 dark:text-white tracking-tight p-2">Total de horas trabajadas</h2> 

        <app-time></app-time> 
    </div>

  <div
    class="rounded-2xl px-6 py-5 w-full
         bg-white/40 dark:bg-white/10
         backdrop-blur-xl
         border border-white/30 dark:border-white/10
         shadow-xl shadow-black/5
         transition-all duration-300 hover:shadow-2xl hover:-translate-y-1"  >
    <h2 class="text-lg font-semibold text-slate-800 dark:text-white tracking-tight p-2">Proximos festivos {{ currentYear }}</h2>
    <div class="inline flex   gap-4 justify-center">
      @for (holidays of holiday; track holidays) {
        <div
    class="w-32 h-40 rounded-2xl
         flex flex-col items-center justify-center
         text-center p-3
         transition-all duration-300 hover:scale-105
         bg-white/50 dark:bg-white/10
         backdrop-blur-md
         border border-white/40 dark:border-white/10
         shadow-lg shadow-black/5">
          <div
            class="text-3xl font-bold text-gray-800"
            [ngClass]="holidays.isNacionalHoliday 
    ? 'text-rose-500' 
    : 'text-indigo-500 dark:text-indigo-400 '">
          
            {{ holidays.day }}
          </div>

          <div class="text-sm capitalize text-gray-500 dark:text-slate-200">
            {{ holidays.month }}
          </div>
          <hr class="w-full border-gray-300 my-2" />
          <div class="mt-2 text-xs font-medium text-gray-700  dark:text-slate-200">
            {{ holidays.name }}
          </div>
        </div>
      }
    </div>
<div class="inline flex gap-4 justify-center mt-5">
    <p class="text-xs text-slate-500 dark:text-slate-400">Nacional: <span style="font-size: 10px;">&#x1F7E5;</span></p>
<p class="text-xs text-slate-500 dark:text-slate-400">Local: <span style="font-size: 10px;">&#x1F7E6;</span></p>
</div>

  </div>

</div>


  <div class=" mt-6 rounded-2xl px-6 py-5  mx-auto
         bg-white/40 dark:bg-white/10
         backdrop-blur-xl
         border border-white/30 dark:border-white/10
         shadow-xl shadow-black/5
         transition-all duration-300 hover:shadow-2xl hover:-translate-y-1">
    <h2 class="text-lg font-semibold text-slate-800 dark:text-white tracking-tight p-2 mt-6">Peticiones pendientes</h2> 
    <div class="inline flex gap-4 justify-left"> 
      <p class="dark:text-slate-400">No hay peticiones pendientes</p>
    </div> 
    </div>


    <div class="mt-6  rounded-2xl px-6 py-5
     bg-white/30 dark:bg-white/10
     backdrop-blur-2xl
     border border-white/30 dark:border-white/10
     shadow-[0_8px_32px_0_rgba(31,38,135,0.15)]
     transition-all duration-500">

  <h2 class="text-lg font-semibold text-slate-800 dark:text-white tracking-tight mb-6">
    Próximos cumpleaños
  </h2>

  <div class="flex flex-wrap gap-5">

@for (birthday of todayBirthdays; track birthday) {
  <div #birthdayCard class="w-full sm:w-[260px] rounded-2xl p-4
       bg-white/40 dark:bg-white/10
       backdrop-blur-xl
       border border-white/40 dark:border-white/10
       shadow-lg shadow-black/5
       transition-all duration-300
       hover:-translate-y-1 hover:shadow-2xl">

    <div class="flex items-center gap-4">
      <div class="relative">
        <div class="w-14 h-14 rounded-full overflow-hidden
             ring-2 ring-indigo-400/60 hover:ring-red-400 hover:scale-110 transition-transform duration-300" >
          <img [src]="birthday.avatar" class="w-full h-full object-cover ">
        </div>
      </div>

      <div class="flex flex-col">
        <span class="font-semibold text-slate-800 dark:text-white">
          {{ birthday.name }}
        </span>
        <span class="text-xs text-slate-500 dark:text-slate-300">
          {{ birthday.position }}
        </span>
        <span class="text-xs font-medium mt-1 text-indigo-500 dark:text-indigo-300">
          🎂 {{ birthday.day }} {{ birthday.monthName }}
        </span>
        <span class="text-xs font-semibold mt-1 text-rose-500 dark:text-rose-400">
          🎉 ¡Es hoy!
        </span>
      </div>
    </div>
  </div>
}

@for (birthday of upcomingBirthdays; track birthday) {
  <div class="w-full sm:w-[260px] rounded-2xl p-4
       bg-white/40 dark:bg-white/10
       backdrop-blur-xl
       border border-white/40 dark:border-white/10
       shadow-lg shadow-black/5
       transition-all duration-300
       hover:-translate-y-1 hover:shadow-2xl">

    <div class="flex items-center gap-4">
      <div class="relative">
        <div class="w-14 h-14 rounded-full overflow-hidden
             ring-2 ring-indigo-400/60">
          <img [src]="birthday.avatar" class="w-full h-full object-cover">
        </div>
      </div>

      <div class="flex flex-col">
        <span class="font-semibold text-slate-800 dark:text-white">
          {{ birthday.name }}
        </span>
        <span class="text-xs text-slate-500 dark:text-slate-300">
          {{ birthday.position }}
        </span>
        <span class="text-xs font-medium mt-1 text-indigo-500 dark:text-indigo-300">
          🎂 {{ birthday.day }} {{ birthday.monthName }}
        </span>
        <span class="text-xs text-slate-500 mt-1 dark:text-slate-400">
          En {{ birthday.daysLeft }} días
        </span>
      </div>
    </div>
  </div>
}


  </div>

</div>

     <div class=" mt-6 rounded-2xl px-6 py-5  mx-auto
         bg-white/40 dark:bg-white/10
         backdrop-blur-xl
         border border-white/30 dark:border-white/10
         shadow-xl shadow-black/5
         transition-all duration-300 hover:shadow-2xl hover:-translate-y-1">
        <h2 class="text-lg font-semibold text-slate-800 dark:text-white tracking-tight p-2">Calendario</h2>
   
      <app-calendar></app-calendar>


        </div>
</div>

