<aside
   class="
    h-screen
    flex flex-col
    transition-all duration-300
    backdrop-blur-2xl
    border-r
    shadow-[0_0_40px_rgba(0,0,0,0.4)]
    bg-slate-900/40
    border-white/10

    before:absolute
before:inset-0
before:-z-10
before:bg-gradient-to-b
before:from-white/5
before:to-transparent
relative
overflow-hidden
  "
  [class.w-20]="collapsed"
  [class.w-64]="!collapsed"
   [class.-translate-x-full]="mobileOpen"
  [class.translate-x-0]="mobileOpen"
  class="lg:translate-x-0"
>
<div
  class="p-4 relative"
  [ngClass]="collapsed
    ? 'flex flex-col items-center gap-4'
    : 'flex items-center justify-center'"
>

  @if (!collapsed) {
    <img
      src="./assets/PORTAL360.png"
      alt="Logo Portal360"
      class="w-40 object-contain"
    />
  }

  @if (collapsed) {
    <img
      src="./assets/icons/logo_responsive_2.png"
      alt="Logo Portal360"
      class="w-10 h-10 object-contain"
    />
  }

  <img
    src="./assets/menu-hamburger.png"
    alt="Menu"
    class="w-5 cursor-pointer transition-all duration-300 hover:rotate-90"
    [ngClass]="collapsed ? '' : 'absolute right-4'"
    (click)="toggle.emit()"
  />

</div>


  <nav class="flex-1 space-y-2 p-4">
    <a
      routerLink="/dashboard"
      (click)="closeMobile.emit()"
      routerLinkActive="bg-white/15 border border-white/20 text-white"
      class="flex items-center gap-3 px-3 py-2 rounded-xl
transition-all duration-300
text-white/80
hover:text-white
hover:bg-white/10
hover:border hover:border-white/20"
    >
      <div class="w-6 h-6 flex items-center justify-center">
        <img src="/assets/icons/dashboard.png" class="w-4 h-4" />
      </div>
       @if (!collapsed) {
      <span>Dashboard</span>
        }
    </a>

    <a
      routerLink="my-time"
      routerLinkActive="bg-white/15 border border-white/20 text-white"
      (click)="closeMobile.emit()"
      class=" flex items-center gap-3 px-3 py-2 rounded-xl
transition-all duration-300
text-white/80
hover:text-white
hover:bg-white/10
hover:border hover:border-white/20"
    >
      <div class="w-6 h-6 flex items-center justify-center">
        <img src="./assets/icons/fichaje.png" alt="" class="w-5 h-5" />
      </div>
       @if (!collapsed) {
      <span>Fichaje</span>
        }
    </a>

    <a
      routerLink="/paysheet"
      routerLinkActive="bg-white/15 border border-white/20 text-white"
      (click)="closeMobile.emit()"
      class="flex items-center gap-3 px-3 py-2 rounded-xl
transition-all duration-300
text-white/80
hover:text-white
hover:bg-white/10
hover:border hover:border-white/20"
    >
      <div class="w-6 h-6 flex items-center justify-center">
        <img src="./assets/icons/nominas.png" alt="" class="w-5 h-5" />
      </div>
       @if (!collapsed) {
      <span>Nóminas</span>
        }
    </a>

    <a
      routerLink="/documents"
      routerLinkActive="bg-white/15 border border-white/20 text-white"
      (click)="closeMobile.emit()"
      class="flex items-center gap-3 px-3 py-2 rounded-xl
transition-all duration-300
text-white/80
hover:text-white
hover:bg-white/10
hover:border hover:border-white/20"
    >
      <div class="w-6 h-6 flex items-center justify-center">
        <img src="./assets/icons/documentos.png" alt="" class="w-5 h-5" />
      </div>
       @if (!collapsed) {
      <span>Documentos</span>
        }
    </a>

    <a
      routerLink="/absences"
      routerLinkActive="bg-white/15 border border-white/20 text-white"
      (click)="closeMobile.emit()"
      class="flex items-center gap-3 px-3 py-2 rounded-xl
transition-all duration-300
text-white/80
hover:text-white
hover:bg-white/10
hover:border hover:border-white/20"
    >
      <div class="w-6 h-6 flex items-center justify-center">
        <img src="./assets/icons/ausencia.png" alt="" class="w-5 h-5" />
      </div>
       @if (!collapsed) {
      <span>Ausencias</span>
        }
    </a>

    <a
      routerLink="/benefits"
      routerLinkActive="bg-white/15 border border-white/20 text-white"
      (click)="closeMobile.emit()"
      class="flex items-center gap-3 px-3 py-2 rounded-xl
transition-all duration-300
text-white/80
hover:text-white
hover:bg-white/10
hover:border hover:border-white/20"
    >
      <div class="w-6 h-6 flex items-center justify-center">
        <img src="./assets/icons/beneficios.png" alt="" class="w-5 h-5" />
      </div>
         @if (!collapsed) {
      <span>Beneficios</span>
        }
    </a>

    <a
      routerLink="/employees"
      routerLinkActive="bg-white/15 border border-white/20 text-white"
      (click)="closeMobile.emit()"
      class="flex items-center gap-3 px-3 py-2 rounded-xl
transition-all duration-300
text-white/80
hover:text-white
hover:bg-white/10
hover:border hover:border-white/20"
    >
      <div class="w-6 h-6 flex items-center justify-center">
        <img src="./assets/icons/empleados.png" alt="" class="w-5 h-5" />
      </div>
         @if (!collapsed) {
      <span>Empleados</span>
        }
    </a>

    <a
      routerLink="/notifications"
      routerLinkActive="bg-white/15 border border-white/20 text-white"
      (click)="closeMobile.emit()"
      class="flex items-center gap-3 px-3 py-2 rounded-xl
transition-all duration-300
text-white/80
hover:text-white
hover:bg-white/10
hover:border hover:border-white/20"
    >
      <div class="w-6 h-6 flex items-center justify-center">
        <img src="./assets/icons/notificaciones.png" alt="" class="w-5 h-5" />
      </div>

      @if (!collapsed) {
      <span>Notificaciones</span>
        }
    </a>
  </nav>

  <div class="p-4 border-t border-slate-700">
    <button
      class="flex items-center gap-3 p-4 bg-slate-800 hover:bg-slate-700 transition rounded-xl w-full"
    >
      <div class="flex justify-between gap-5 items-center w-full">
         @if (!collapsed) {
             <img src="./assets/profile.png" alt="Foto perfil" class="h-10 w-10 rounded-full" />
            }@else{
                <img src="./assets/profile.png" alt="Foto perfil" class="h-auto w-auto rounded-full border border-white" />
                
         }

         @if (!collapsed) {
        <div class="text-left">
          <div class="text-xs text-white/80 font-medium"><span>Florencia Macarena Sandoval Perez</span></div>
          <div class="text-xs text-slate-400">Administrador</div>
        </div>
            }
      </div>
       @if (!collapsed) {
      <div class="w-6 h-6 flex items-center justify-center dropdown dropdown-bottom">
        
       

        <button mat-button [matMenuTriggerFor]="menu"   class="bg-white/10 backdrop-blur-md rounded-xl text-white px-4 py-2 hover:bg-white/20"
> <img class="w-5" src="./assets/ic--outline-more-vert.png" alt="options" /></button>
<mat-menu #menu="matMenu" panelClass="glass-menu">
  <button mat-menu-item class="text-white">Perfil</button>
  <button mat-menu-item (click)="logout()">Salir</button>
</mat-menu>
      </div>
        }
    </button>
  </div>
</aside>
