<div class="p-0 md:p-2">
       <button
  (click)="volver()"
  class="bg-white flex items-center gap-2 px-4 py-2 rounded-lg border border-slate-200 hover:bg-slate-50 mb-4">

  <svg xmlns="http://www.w3.org/2000/svg"
       fill="none"
       viewBox="0 0 24 24"
       stroke-width="1.5"
       stroke="currentColor"
       class="size-5">
    <path stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
  </svg>

  Volver
</button>


    <div class="bg-white rounded-xl shadow-sm border border-gray-200 p-6">


  <div
    class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 mb-6">
 @if (empleadoselectado) {
    <div>
      <h2 class="text-xl font-semibold text-gray-800"> 
        Gestión de Nóminas de {{ empleadoselectado.name }} {{ empleadoselectado.lastName }}
      </h2>
      <p class="text-sm text-gray-500">
        Consulta y administra las nóminas de los empleados.
      </p>
    </div>

    <button
      (click)="subirNomina()"
      class="flex items-center gap-2 px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition">
      <span>+</span>
      Subir nómina
    </button>
 }
  </div>

  <div class="mb-5">
    <input
      type="text"
      [(ngModel)]="busqueda"
      (input)="filtrarNominas()"
      placeholder="Buscar nómina..."
      class="w-full md:w-80 px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none">
  </div>

  <div class="overflow-x-auto">

    <table class="w-full text-sm">

      <thead>
        <tr class="border-b bg-gray-50">
          <th class="px-4 py-3 text-left font-semibold text-gray-700">
            Periodo
          </th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">
            Tipo
          </th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">
            Fecha Emisión
          </th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">
            Estado
          </th>
          <th class="px-4 py-3 text-center font-semibold text-gray-700">
            Acciones
          </th>
        </tr>
      </thead>

      <tbody>
   @for(nomina of nominasFiltradas; track $index){
        <tr
          class="border-b hover:bg-gray-50">

          <td class="px-4 py-3">
            {{ nomina.periodo }}
          </td>

          <td class="px-4 py-3">
            {{ nomina.tipo }}
          </td>

          <td class="px-4 py-3">
            {{ nomina.fechaEmision }}
          </td>

          <td class="px-4 py-3">

            <span
              class="px-2 py-1 rounded-full text-xs font-medium"
              [ngClass]="{
                'bg-green-100 text-green-700': nomina.estado === 'Disponible',
                'bg-yellow-100 text-yellow-700': nomina.estado === 'Pendiente'
              }">
              {{ nomina.estado }}
            </span>

          </td>

          <td class="px-4 py-3">
            <div class="flex justify-center gap-2">
            

              <button
                class="px-3 py-1 text-blue-600 hover:text-blue-800 shrink-0">
                <img src="assets/icons/eye-outline.svg" alt="Ver" class="w-5 h-5 ">
              </button>

              <button
                class="px-3 py-1 text-green-600 hover:text-green-800 shrink-0">
                <img src="assets/icons/download.svg" alt="Descargar" class="w-5 h-5">
              </button>

              <button
                class="px-3 py-1 text-red-600 hover:text-red-800 shrink-0">
                <img src="assets/icons/trash.svg" alt="Eliminar" class="w-5 h-5">
              </button>

            </div>
          </td>
        </tr>
        }
      
        <tr>
            @if(nominasFiltradas.length===0) {
            <td colspan="5" class="py-6 text-center text-gray-500">
              No se encontraron nóminas.
            </td>
            }
        </tr>

      </tbody>

    </table>

  </div>

</div>
</div>

@if (modalVisible) {
<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50 p-4">

  <div class="bg-white rounded-xl shadow-xl w-full max-w-md">

    <!-- Header -->
    <div class="flex items-center justify-between p-4 border-b">
      <h3 class="text-lg font-semibold">
        Subir nómina
      </h3>

      <button
        (click)="cerrarNomina()"
        class="text-gray-500 hover:text-gray-700">
        ✕
      </button>
    </div>

    <div class="p-4 space-y-4">

      
   <mat-form-field color="primary">
  <input
    matInput
    [matDatepicker]="picker"
    [value]="fecha">

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

  <mat-datepicker
    #picker
    startView="multi-year"
    (monthSelected)="setMonthAndYear($event, picker)">
  </mat-datepicker>
</mat-form-field>


       <div>
        <label class="block text-sm font-medium mb-1">
          Tipo
        </label>

        <select
    [(ngModel)]="tipoNomina"
    class="w-full border rounded-lg px-3 py-2">

    <option value="">Seleccione un tipo</option>

    @for (tipo of tiposNomina; track tipo) {
      <option [value]="tipo">
        {{ tipo }}
      </option>
    }
  </select>
      </div>

       <div>
        <label class="block text-sm font-medium mb-1">
          Estado
        </label>

      
  <select
    [(ngModel)]="estado"
    class="w-full border rounded-lg px-3 py-2">

    <option value="">Seleccione un estado</option>

@for (estadoItem of estados; track estadoItem) {
<option
      [value]="estadoItem.id">
      {{ estadoItem.nombre }}
    </option>
  }
  </select>
      </div>

      <div>
        <label class="block text-sm font-medium mb-1">
          Archivo PDF
        </label>

        <input
          type="file"
          accept=".pdf"
          (change)="onFileSelected($event)"
          class="w-full border rounded-lg px-3 py-2">
      </div>

    </div>

    <div class="flex justify-end gap-2 p-4 border-t">

      <button
        (click)="cerrarNomina()"
        class="px-4 py-2 border rounded-lg hover:bg-gray-100">
        Cancelar
      </button>

      <button
        (click)="guardarNomina()"
        class="px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-700">
        Subir
      </button>

    </div>

  </div>

</div>
}