@import "tailwindcss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 200ms;
}
