@import "tailwindcss/base";
@import "daisyui";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 200ms;
}
/* Define keyframe animations */
@keyframes rotate-out {
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotate-in {
  from {
    transform: rotate(-90deg);
  }
}
