<div>
  <h1 class="text-2xl font-bold text-gray-800 dark:text-white">Nóminas</h1>
  <p class="text-xs text-slate-500 dark:text-slate-400 mt-4">
    Esta es la sección de nóminas del portal.
  </p>
  <div class="grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-2 gap-6 justify-center mt-10">
    <div>
      <table
        class="table-auto md:table-fixed w-full text-slate-800 dark:text-slate-200 bg-white/10 backdrop-blur-lg border border-white/20 rounded-2xl shadow-xl shadow-black/5 overflow-hidden"
      >
        <thead
          class="bg-gradient-to-br from-slate-100 via-indigo-100 to-indigo-200 rounded-lg p-3 dark:bg-gradient-to-br dark:from-slate-700 dark:via-indigo-700 dark:to-indigo-900 dark:text-white"
        >
          <tr>
            <th class="p-4 text-left">Archivo</th>
            <th class="p-4 text-left">Periodo</th>
            <th class="p-4 text-left">Tipo</th>
            <th class="p-4 text-left">Fecha emision</th>
            <th class="p-4 text-left">Estado</th>
            <th class="p-4 text-left">Acción</th>
          </tr>
        </thead>

        <tbody>
          @for (n of paginatedNominas; track n) {
            <tr class="border-t border-white/10 hover:bg-white/20 transition">
              <td class="p-2">{{ formatearFecha(n.archivo) }}</td>
              <td class="p-2">{{ n.periodo }}</td>
              <td class="p-2">{{ n.tipo }}</td>
              <td class="p-2">{{ formatearFecha(n.fechaEmision) }}</td>
              <td class="p-2">{{ n.estado }}</td>
              <td class="p-2 gap-2 flex">
                  <button class="px-1 py-1 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition"><img src="./assets/icons/eye-outline.svg" alt="Ver" srcset=""></button>
          <button class="px-1 py-1 bg-green-500 text-white rounded-lg hover:bg-green-600 transition"><img src="./assets/icons/download.svg" alt="Descargar" (click)="downloadNominas()" srcset="" ></button>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <div class="flex justify-center items-center gap-2 mt-6">
        <button
          (click)="changePage(currentPage - 1)"
          [disabled]="currentPage === 1"
          class="px-3 py-1 rounded-lg border text-sm disabled:opacity-40 dark:text-white dark:bg-gray-700/50 dark:disabled:bg-gray-700/50"
        >
          ←
        </button>

        @for (page of pages; track page) {
          <button
            (click)="changePage(page)"
            [class.bg-indigo-600]="currentPage === page"
            [class.text-white]="currentPage === page"
            class="px-3 py-1 rounded-lg border text-sm dark:text-white"
          >
            {{ page }}
          </button>
        }

        <button
          (click)="changePage(currentPage + 1)"
          [disabled]="currentPage === totalPages"
          class="px-3 py-1 rounded-lg border text-sm disabled:opacity-40 dark:text-white dark:bg-gray-700/50 dark:disabled:bg-gray-700/50"
        >
          →
        </button>
      </div>
    </div>

      <div
        class="relative h-max p-6 rounded-3xl backdrop-blur-2xl bg-white/30 border border-white/40 shadow-xl shadow-black/5 "
      >
        <h2 class="text-lg font-semibold mb-4 text-slate-800">
          Descargar las nominas del año
        </h2>
        <div class="flex flex-col gap-4  items-center justify-center ">
        <p>Selecciona el año para descargar las nóminas correspondientes.</p>
        <div class="mt-4 flex gap-4 items-center justify-center">
          <select  
            [(ngModel)]="selectedYear"
            class="w-full border border-indigo-500 px-3 py-2 rounded-xl bg-white/40 backdrop-blur-md"
          >
              @for (year of [2025, 2024, 2023, 2022, 2021]; track year) {
            <option >
              {{ year }}
            </option>
              }
          </select>
        </div>
        <button
          (click)="downloadNominas()"
          class="w-1/2 flex items-center justify-center px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition"
        >
          Descargar
        </button>
        </div>

  </div>


    <div
      class="  xl:col-span-2 rounded-2xl px-6 py-5 mt-5 w-full bg-white/40 dark:bg-white/10 backdrop-blur-xl border border-white/30 dark:border-white/10 shadow-xl shadow-black/5"
    >
      <h2 class="text-lg text-center font-semibold text-slate-800 dark:text-white tracking-tight p-2">
        Información
      </h2>
      <div class="inline flex gap-4 justify-center">
        <p class="text-sm text-slate-600 dark:text-slate-300">
          ¿Hay un error en tu nómina? Contactar con RRHH
        </p>
      </div>
      <div class="flex justify-center">
        <button
          (click)="openExportModal()"
          class="mt-4 shadow-xl shadow-black/5 backdrop-blur-xl px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition-colors transition-all duration-300 hover:shadow-2xl hover:-translate-y-1"
        >
          Contactar con RRHH
        </button>
      </div>
    </div>

  @if (exportModalOpen) {
    <div class="fixed inset-0 flex items-center justify-center z-50">
      <div class="absolute inset-0 bg-black/40 backdrop-blur-sm" (click)="closeExportModal()"></div>

      <div
        class="relative w-[420px] p-6 rounded-3xl backdrop-blur-2xl bg-white/30 border border-white/40 shadow-2xl shadow-black/30"
      >
        <h2 class="text-xl font-bold text-slate-800 dark:text-white mb-4">Contactar con RRHH</h2>

        <div class="max-w-xl mx-auto bg-white border border-gray-200 rounded-xl shadow-sm p-4">
          <input
            type="text"
            placeholder="Asunto de la consulta"
            class="w-full text-lg font-semibold placeholder-gray-400 outline-none mb-2"
          />
          <hr class="w-full border-slate -100 my-2" />

          <textarea
            placeholder="Descripción"
            rows="4"
            class="w-full resize-none outline-none text-gray-600 placeholder-gray-400"
          ></textarea>

          <hr class="w-full border-gray-100 my-2" />
          <div class="flex items-center justify-between mt-4">
            <div class="flex items-center gap-3">
              <label
                class="flex items-center gap-2 text-sm text-gray-500 hover:text-gray-700 cursor-pointer"
              >
                📎
                <span>Adjuntar archivo</span>
                <input type="file" class="hidden" />
              </label>
            </div>
            <div class="flex gap-3">
              <button
                class="px-4 py-2 rounded-xl bg-indigo-600 text-white hover:bg-indigo-700 transition"
              >
                Enviar
              </button>
              <button
                (click)="closeExportModal()"
                class="px-4 py-2 rounded-xl bg-slate-600/20 hover:bg-slate-600/40 transition"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
