<div>
  <h1 class="text-2xl font-bold text-gray-800 dark:text-white">Empleados</h1>

  <div class="mt-6 flex justify-center">
  
  <label class="input w-full md:w-1/2 px-4 py-2 rounded-xl
             bg-white/30 backdrop-blur-md
             border border-white/30
             text-slate-800 dark:text-white
             placeholder-slate-500
             focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-white/30 focus-within:bg-white/50 focus-within:backdrop-blur-lg
             transition ">
  <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <g
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke-width="2.5"
      stroke-color="indigo-500"
      fill="none"
      stroke="currentColor"
    >
      <circle cx="11" cy="11" r="8"></circle>
      <path d="m21 21-4.3-4.3"></path>
    </g>
  </svg> 
  <input type="search" [(ngModel)]="searchTerm"
 class="grow dark:text-white" placeholder="Buscar empleado..." />
 
</label>



  </div>

  <div class="hidden md:block mt-10">
    <table class="w-full text-slate-800 dark:text-slate-200 
                  bg-white/10 backdrop-blur-lg 
                  border border-white/20 
                  rounded-2xl shadow-2xl overflow-hidden">

      <thead class="text-xs uppercase tracking-wider text-slate-500">
        <tr>
          <th class="p-4 text-left">Nombre</th>
          <th class="p-4 text-left">Cargo</th>
          <th class="p-4 text-left">Email</th>
          <th class="p-4 text-left">Teléfono</th>
          <th class="p-4 text-left">Estado</th>
        </tr>
      </thead>

      <tbody>
        @for (emp of empleadosFiltrados(); track emp) {
        <tr class="bg-white/40 border-t border-white/40 hover:bg-white/40 transition">
          <td class="p-4">{{ emp.nombre }}</td>
          <td class="p-4">{{ emp.cargo }}</td>
          <td class="p-4">{{ emp.email }}</td>
          <td class="p-4">{{ emp.telefono }}</td>
          <td class="p-4">
  <span class="px-2 py-1 text-xs rounded-full"
        [ngClass]="getEstadoClase(emp.estado)">
    {{ emp.estado }}
  </span>
</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="md:hidden mt-6 space-y-4">

    @for (emp of empleadosFiltrados(); track emp) {
    <div class="p-4 rounded-2xl
                bg-white/40 backdrop-blur-lg
                border border-white/20 shadow-xl">

      <div class="space-y-2 text-sm text-slate-800 dark:text-white">

        <div class="flex justify-between">
          <span class="font-medium">Nombre</span>
          <span>{{ emp.nombre }}</span>
        </div>

        <div class="flex justify-between">
          <span class="font-medium">Cargo</span>
          <span>{{ emp.cargo }}</span>
        </div>

        <div class="flex justify-between">
          <span class="font-medium">Email</span>
          <span class="text-xs break-all">{{ emp.email }}</span>
        </div>

        <div class="flex justify-between">
          <span class="font-medium">Teléfono</span>
          <span>{{ emp.telefono }}</span>
        </div>

        <div class="flex justify-between">
          <span class="font-medium">Estado</span>
          <span class="px-2 py-1 text-xs rounded-full"
                [ngClass]="getEstadoClase(emp.estado)">
            {{ emp.estado }}
          </span>
        </div>

      </div>
    </div>
    }

    @if (empleadosFiltrados().length === 0) {
    <div class="text-center text-sm text-slate-500">
      No se encontraron empleados
    </div>
    }

  </div>
</div>